# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtualenv
.venv/
venv/

# Build
build/
dist/
*.spec

# OS/Editor
.DS_Store
.vscode/

# venv
.venv/
venv/
.env/

# python
__pycache__/
*.pyc
*.pyo
*.pyd

# builds
build/
dist/
*.spec

# logs
*.log
git rm -r --cached .venv


#Zip arquivos 
Conta Gráfica e Apuração de Custos (2).xlsx
Conta Gráfica e Apuração de Custos (2).zip
auditria/OUT/46. Outubro 2025.zip
auditoria/NOV/47. Novembro 2025.zip
auditoria/DEZ/48. Dezembro 2025.zip

# Ignorar todos os arquivos Excel
*.xlsx

# Ignorar todos os arquivos ZIP dentro das pastas de auditoria
auditoria/**/*.zip