# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtualenv
.venv/
venv/
.env/

# Build e Distribuição
build/
dist/
*.spec

# Editor
.DS_Store
.vscode/

# --- ARQUIVOS GRANDES IGNORADOS ---

# Ignora qualquer Excel em qualquer pasta (Raiz ou Auditoria)
*.xlsx
*.xls

# Ignora qualquer ZIP em qualquer pasta (Raiz ou Auditoria)
*.zip
*.rar